:root {
    --pink: #F080F2;
    --hover: red;

    --dark-blue: #010326;
    --grey-blue: #393E59;
    --dark-teal: #6FBFBF;
    --light-teal: #82D9D9;

    --white: #ffffff;
    --black: #000000;

    --light-blue: #E4EBF2;
    --light-pink: #F2DAD8;
    --light-yellow: #F2E9D8;
    --light-green: #DAF2E5;
}
* {
    font-family: 'Raleway', sans-serif;
    color: var(--white);
}
.title {
    font-family: 'Chivo Mono', monospace;
    font-weight: bold;
}
body,html {
    background: var(--black);
}
ul {
    list-style: none;
    display: table;
}
li {
    display: table-cell;
    position: relative;
    /*padding: 15px 0;*/
}
ul a {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    /*padding: 15px 20px;*/
    position: relative;
}
ul a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--white);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
ul a:hover {
    color: var(--hover);
}
ul a:hover:after {
    color: var(--hover);
    width: 100%;
    left: 0;
}
.fa-brands {
    font-size:24px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
}
.codeup-icon {
    /*position:absolute;*/
    height: 24px;
    width:24px;
}
.email {
    text-decoration: none;
    color: var(--white);
}
.email:hover {
    /*text-decoration: none;*/
    color: var(--hover);
}
