:root {
    --white: #ffffff;
    --black: #000000;

    --ylw1: #F2E205;
    --ylw2: #A68B03;
    --ylw3: #736002;
    --ylw4: #403501;
    --dark: #0D0D0D;

}
* {
    font-family: 'Raleway', sans-serif;
    color: var(--dark);
}
.jmw-logo {
    height: 2em;
}
h1 {
    font-family: 'Chivo Mono', monospace;
    font-weight: bold;
    /*color: var(--black);*/
    /*text-shadow: 0em 0em .25em var(--white);*/
}
body,html {
    background: var(--ylw2);
}
ul {
    list-style: none;
    display: table;
}
hr {
    color: var(--ylw1);
}
li {
    display: table-cell;
    position: relative;
    /*padding: 15px 0;*/
}
ul a {
    color: var(--dark);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    /*padding: 15px 20px;*/
    position: relative;
}
ul a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--ylw1);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
ul a:hover {
    color: var(--ylw1);
}
ul a:hover:after {
    color: var(--ylw1);
    width: 100%;
    left: 0;
}
.fa-brands {
    font-size:24px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
}
.fa-brands:hover {
    color: var(--ylw1);
}
.codeup-icon, .codeup-icon-hover {
    /*position:absolute;*/
    height: 24px;
    width:24px;
}
.email {
    text-decoration: none;
    color: var(--ylw4);
}
.email:hover {
    /*text-decoration: none;*/
    color: var(--ylw1);
}
