:root {
    --secondary-orange: #F25C05;
    --dark-orange: #F27405;
    --medium-orange: #F2913D;
    --light-orange: #F2B279;
    --cream: #F2E7DC;

}
* {
    font-family: 'Raleway', sans-serif;
    color: var(--dark-orange);
}
.jmw-logo {
    height: 2em;
}
h1 {
    font-family: 'Chivo Mono', monospace;
    font-weight: bold;
}
body,html {
    background: var(--cream);
}
header {
    background: var(--cream);
}
ul {
    list-style: none;
    display: table;
}
hr {
    color: var(--secondary-orange);
}
li {
    display: table-cell;
    position: relative;
    /*padding: 15px 0;*/
}
ul a {
    color: var(--dark-orange);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    /*padding: 15px 20px;*/
    position: relative;
}
ul a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--dark-orange);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
ul a:hover {
    color: var(--secondary-orange);
}
ul a:hover:after {
    color: var(--secondary-orange);
    width: 100%;
    left: 0;
}
.fa-brands {
    font-size:24px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
}
.fa-linkedin {
    color: #0a66c2;
}
.fa-github {
    color: black;
}
.fa-brands:hover {
    color: var(--medium-orange);
}
.codeup-icon, .codeup-icon-hover {
    /*position:absolute;*/
    height: 24px;
    width:24px;
}
.email {
    text-decoration: none;
}
.email h6 {
    border-color: var(--secondary-orange) !important;
    color: var(--secondary-orange);
}
.email h6 {
    border-color: var(--light-orange) !important;
}
.email:hover {
    background-color: var(--light-orange);
}
.email h6:hover {
    color: var(--cream);
}
